@import 'asset/scss/variables';

.activationPage {
  padding-top: 100px;
  background-color: $dark;
  height: 100vh;

  .activation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 700px;
    max-width: 100%;
    margin-inline: auto;
    padding: 40px;
    background-color: $white;
    border-radius: 20px;
    text-align: center;
  }
}
p {
  color: #404f5e;
  font-size: 20px;
  margin: 0;
}
