.slideShowPage {
  padding-block: 40px;
  height: 100vh;
}

.heading {
  font-size: 62px;
  text-align: center;
  line-height: 80vh;
  font-weight: bold;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.chart {
  display: flex;
  justify-content: center;
}

.paragraph {
  height: 50vh;
  padding-block: 5%;
  font-size: 18px;
  font-weight: 500;
}
