@import '../../../asset/scss/font';

.status {
  background-color: white;
  color: black;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  font-family: $primary-font;
  font-weight: 800;
  border-bottom: 0.3rem solid rgba(0, 0, 0, 0.15);
  margin: 0;
  .left {
    display: flex;

    div {
      margin-right: 1em;
    }
  }
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.status > div {
  min-width: 10rem;
}

@media only screen and (max-width: 420px) {
  .status {
    font-size: 1.4rem;
  }

  .status > div {
    min-width: 8rem;
  }
}
