@import '../../../asset/scss/color';
@import '../../../asset/scss/font';

.instructionsPage {
    background-color: $color-light-green;
    color: $color-white;
    font-family: $primary-font;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.in {
    font-size: 4rem;
    font-family: $secondary-font;
    font-style: italic;
    text-align: center;
  }
  
.name {
    font-size: 2rem;
    text-align: center;
}