@import 'asset/scss/variables';

.invitePage {
  padding-top: 100px;
  background-color: $dark;
  height: 100vh;

  .invitation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 320px;
    width: 400px;
    max-width: 100%;
    margin-inline: auto;
    padding: 40px;
    background-color: $white;
    border-radius: 20px;

    text-align: center;
  }
}