@import './variables';

.btn-underline {
  padding-bottom: 2px;
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $primary;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover {
    color: $primary;

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
