@import '../../../asset/scss/variables';

.authPage {
  position: relative;
  background-color: #2C005F;
  width: 100vw;
  height: 100vh;
}

.formContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  width: 500px;
  max-width: calc(100% - 20px);
  padding: 40px;
  border-radius: 20px;
}

.formDivider {
  width: 100%;
  margin-block: 20px;
  position: relative;
  text-align: center;
  font-weight: 600;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background-color: rgb(0 0 0/0.2);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    right: 0;
  }
}