.resultPage {
  padding-block: 40px;

  .question {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
  }

  .chart {
    display: flex;
    justify-content: center;
  }
}
