@import 'asset/scss/variables';

.slidePreviewItem {
  cursor: pointer;

  .slidePreviewItemContainer {
    width: 100%;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid $dark;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
